.Select {
    .Select-control {
        border-radius: 0;
        height: 34px;
        box-sizing: border-box;
        z-index: 2;
        .Select-arrow-zone {
            border-left: 1px solid @ms2-color-shade-lighter;
            width: 27px;
            padding-right: 0;

        }
    }

    .Select-menu-outer {
        .shadow-soft;

        .Select-option {
            margin: 4px;
            padding-top: 1px;
            padding-bottom: 1px;
            &.is-focused {
                background-color: @ms2-color-background !important;
                color: @ms2-color-text !important;
                border: 1px solid @ms2-color-primary !important;
            }
        }
    }

    &.is-focused:not(.is-open) {
        & > .Select-control {
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(darken(@ms2-color-primary, 5%), 60%);
            border: 1px solid @ms2-color-primary !important;
            background: @ms2-color-background;
        }
    }

    &.is-focused {
        & > .Select-control {
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(darken(@ms2-color-primary, 5%), 60%);
            border: 1px solid @ms2-color-primary !important;
        }
    }
}